.primary{
    color:white;
    background-color: black;
    display:flex;
    align-items: center;
    column-gap:20px;
    padding:1rem;
    width:12rem;
}
.outline{
    color:black;
    background-color: white;
    display:flex;
    align-items: center;
    column-gap:20px;
    padding:1rem;
    width:100%;
    justify-content: center;
}

