@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins",sans-serif;
}
nav{
    width:80%;
    height:4rem;
    border:1px solid black;
    display:flex;
    justify-content: space-between;
    margin:0 auto;
}
nav>h1{
    margin:auto 0 auto 1rem;

}

nav>ul{
    list-style: none;
    display:flex;
    column-gap: 15px;
}
button{
    all:unset;
    height:25px;
    border:1px solid black;
    padding:0.3rem;
    border-radius:3px;
}
.btndivs{
    display:flex;
    gap:20px;
    margin:auto 0;
}
/*button.join-us{
    color:red;
    margin:auto 0px auto 20px;
}*/
button.loginBtn{
    margin:auto 20px auto 0px;
}
.trellocontent{
    display:flex;
    width:100%;
    height:40%;
    margin:2rem auto 2rem auto;
    border:1px solid black;
    background: url(//images.ctfassets.net/rz1oowkt5gyp/7lTGeXbBRNRLaVk2MdBjtJ/99c266e…/white-wave-bg.svg) center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    color:white;
    column-gap:2rem;
}
.trellodes{
    padding:4rem 0rem 2rem 4rem;
}
.trellodes>h1{
    width:450px;
    font-size:2.5rem;
}
img.trello-img{
    max-width:80%;
    padding:2rem 0rem 0rem 0rem;
}
form>input{
    height:2rem;
    width:12rem;
    margin-right:1rem;
}
form>button{
    background-color: blue;
    color:white;
    border:1px solid blue;
}